body{
  margin: 0;
  font-family: "Oswald-Light";
  -webkit-user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "Oswald-Light";
  src: url("./fonts/Oswald-Light.ttf");
}
.error{
  font-size: 20px;
  text-align: center;
  margin-left: 36%;
  width: 28%;
}